/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-home-avatar: 250px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Home */
#home {
  height: 470px;
  background: url(img/background.jpg) center/cover no-repeat;
  padding: 40px;
  padding-top: 320px;
  text-align: center;
  padding-bottom: 10px;
}

.home_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home_title {
  color: whitesmoke;
  margin-bottom: 0;
}

.home_description {
  margin-top: 0px;
  color: whitesmoke;
}

.home_contact {
  background-color: var(--color-light-grey);
  border: 2px white solid;
  border-radius: var(--size-border-radius);
  color: white;
  font-size: var(--font-regular);
}

/* Description */

#description {
  background: url(img/flowerbackground.jpg) center/cover no-repeat;
  padding: 20px 20px;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.wedding_icon {
  margin: auto;
  background-color: var(--color-yellow);
  display: flex;
  max-height: 230px;
  max-width: 230px;
  opacity: 0.97;
  justify-content: center;
  border-radius: 50%;
  transition: all var(--animation-duration) ease-in;
}

.wedding_icon:hover {
  transition: all var(--animation-duration) ease-in;
  transform: scale(1.2);
}

.wedding_icon img {
  width: 100%;
}

/* Couplepic */

#couple_pic {
  background-color: var(--color-yellow);
  display: flex;
  justify-content: space-around;
}

.couple_img {
  margin-top: 30px;
}
